doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
  head
    title(itemprop="name") archi2tech - curriculum
    include ../shared/_meta.jade
    include ../shared/_css.jade

  body
    
    include ../shared/_ga.jade
    script(src="/app.js" async)
