body, html
  margin 0
  font-size 18px

body
  background Black
  font-weight 300

strong
  font-weight bold
  font-size 20px

h6
  font-size 28px

em
  color Orange
  font-style normal
  font-weight bold

a
  color Black

hr
  width 80%
  margin 35px auto
  border none
  border-top 1px dashed LightGray
  height 0

.pull-right
  float right

.avatar
  margin-bottom 20px
  text-align center
  img
    margin-top 10px
    width 80%
    max-width 230px

.center
  text-align center

.clear-both
  clear both

.more
  height 0
  overflow hidden

.grid-1-2
  float left
  width 48%
  margin 0 1%

.container
  width 94%
  padding 3%
  max-width 1000px
  margin auto
  font-family Helvetica, san-serif
  line-height 1.5
  text-align center
  color WhiteSmoke
  overflow hidden

h1
  letter-spacing 1px
  font-size 60px
  margin-bottom 80px

  .deadline
    display block
    margin-top 10px
    font-size 18px

h2
  cursor pointer
  letter-spacing 1px
  margin 0
  margin-bottom 15px
  font-size 24px
  font-weight 400
  a
    text-decoration none

.button
  display inline-block
  text-decoration none
  padding 20px 24px
  font-size 20px
  color Orange
  font-weight 600
  border 2px solid Orange
  text-transform uppercase
  background rgba(0,0,0,0.3)

section
  clear both
  color Black
  padding 15px
  text-align left
  line-height 1.8

.columns
  -webkit-columns: 2 320px
  -moz-columns: 2 320px
  -ms-columns: 2 320px
  columns: 2 320px

footer
  color White
  padding 15px
  display inline-block
  margin-top 2em

  .button
    display inline-block
    margin-top 10px
    padding 10px 30px

.content
  height 30px
  max-width 800px
  margin 15px auto
  overflow hidden
  background WhiteSmoke
  padding 10px 20px 20px 20px
  &.open
    height auto

.facts
  margin-top 20px

.fact
  display inline-block
  color White
  text-align left
  margin 15px
  width 230px
  vertical-align top

.daysleft
  font-weight bold

.pointer
  font: "Georgia", "Apple Symbols", serif

@media (max-width 460px)
  .grid-1-2
    float none
    width 100%
    margin 0

  h6
    font-size 18px
  
  h1
    line-height 1.5
    margin-top 40px
    font-size 23px

  h2
    font-size 20px
  
  .container
    line-height 1.2

  .button
    padding 10px 14px
    margin 30px 0 10px 0
