doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    
    title(itemprop="name") archi2tech - Start Your Career in Tech!
    meta(name="description" content="")
    
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    include _css.jade

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  body
    .container
      h6 If I could do it, so can you:
      h1
        | Learn to code the web &amp;
        br
        | Start your career in tech.
        br
        a(href="/apply.html" class="button") Apply for the course
        .deadline
          | Starts 1. September 2014
          br
          | Only 
          span.daysleft
          |  left to join!

      .facts
        .fact
          strong How? 
          br
          | Learn by building 12 real-life projects. Broken down into weekly challenges.
        .fact
          strong When?
          br
          | Starts September 2014, runs for 12 months. Each month is one separate unit.
        .fact
          strong Price?
          br
          $30 per month - cancel any time.
      hr
      section.content
        h2 Why 12 months?
        .text
          | I know a year sounds long, this course is for 
          em serious career changers 
          | who want to learn while staying in their current occupation! Google's Peter Norvig argues  
          a(href="http://norvig.com/21-days.html" target="_blank") it takes 10 years to become a great programmer.
          |  So what can you learn in a year? Enough to make the switch! It took me two years to learn what I will condense and package for you into a focused, efficient one year curriculum. 
          | In the end of this course you will able to confidently produce any application you want for the web. 
          | You will know how to navigate and evaluate the current technologies and frameworks, and know to choose the right one for the job.
          br
          | Hacking has allot to do with passion for finding new solutions to problems. My goal is to spark in you a curiosity and appreciation for clean, elegant, 
          | and efficient code. The course will give you the right tools to go out, discover, and learn new technologies as they appear.
          br
          | Should you decide you have had enough input from my side you can cancel the course any time. 
          | Each month will be a concise topic unit so you can decide each month if you still want to continue along.
          br
          br
          a(href="/apply.html")
            | The course will start in only 
            span.daysleft
            |, apply now to reserve your seat!

      hr
      section.content
        h2 Who is this course for?
        .text
          | Do you want to join the new economy but can't just quit your current job? 
          | Then this is the course for you! I will teach you how to master HTML, CSS, JavaScript, and more. 
          | So you can do what I did and create a thriving career for yourself in the growing tech sector!
          br
          | This will be the 
          em pioneers 
          | intake, I am looking for the first 50 people who really want to change their careers in the coming months! 
          br
          br
          a(href="/apply.html")
            | The course will start in only 
            span.daysleft
            |, apply now to reserve your seat!
      
      hr
      section.content
        h2 What will you learn?
        .text
          strong My goal is to teach you all you need to get a job in tech. 
          | We will start with creating websites, after that we will be building 
          a(href="http://en.wikipedia.org/wiki/Single-page_application" target="_blank") Single-page applications
          | , and finish the course with server and database programming in 
          a(href="http://nodejs.org/" target="_blank") Node.js
          |  and 
          a(href="http://www.mongodb.org/" target="_blank") MongoDB
          | . In the final unit you will work on your own individual portfolio, and we will exercise job applications and interview questions.
          br
          br
          | Once a week you will get a task and instructions delivered simply into your inbox. 
          | Every week we will learn a new concept and apply it right away to a concrete real life project. 
          | Should you ever get stuck, I'm always just a short email away to help you succeed.
          | Each month we are going to start a new project, so that by the end of the course you will have a portfolio of 12 projects and a 
          a(href="https://github.com/" target="_blank") Github
          |  account full of open source code ready to apply for your first job in tech.
          br
          br
          a(href="/apply.html")
            | The course will start in only 
            span.daysleft
            |, apply now to reserve your seat!

      hr
      section.content
        h2 About me
        .text
          .avatar
            img(src="stefan.jpg" alt="Stefan Ritter")
            br
            a(href="https://twitter.com/stefanritr" target="_blank") @stefanritr
            | &nbsp; | &nbsp;
            a(href="http://www.stefanritter.com" target="_blank") www.stefanritter.com
          | Hi, I'm Stefan. In the past two years I turned my career on its head - I left architecture and went into tech! 
          br
          | By teaching myself how to code I got a job in a great startup here in London - the wonderful: 
          a(href="http://www.escapethecity.org/" target="_blank") Escape The City
          | . Where I am now the lead HTML5 developer working closely with both our CTO and our product manager.
          br
          br
          | The goal for this course is simple: what took me bumpy 2 years I am going to teach you how to do in one!
          br
          br
          | You will benefit from not having to make the mistakes I made when I was getting started. 
          | And I will get you ready to make your career switch with confidence, because you will yield all the skills the startup scene is yearning for.

      footer
        h2
          | Secure your seat today:
          br
          a(href="/apply.html" class="button") Apply now
        | Starts 1. September 2014 - only 
        span.daysleft
        |  left!
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-53688224-1', 'auto');
      ga('send', 'pageview');
    script(src="app.js" async)
